.custom-card {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     /* Alinea los elementos en la parte superior e inferior */
}

.card-body {
    margin-bottom: 1rem;
    text-align: center; /* Centra el texto dentro del cuerpo de la tarjeta */
}

/* Estilos para la imagen */
.card-img-standard {
    width: 100%; /* Establece el ancho al 100% */
    height: auto; /* Mantiene la proporción de aspecto */
}