
<nav class="navbar bg-secondary content-center">
    <div class="countainer-fluid content-center">
        <span class="navbar-brand mb-0 h1 text-light text-center">
            Productos
        </span>
    </div>
</nav>